body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.pairings-container {
    overflow-y: auto;
    max-height: 400px;
    margin-top: 20px;
}

.pairings-container table {
    width: 100%;
    border-collapse: collapse;
}

.pairings-container th,
.pairings-container td {
    border: 1px solid #ccc;
    padding: 10px;
}

.pairings-container th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.pairings-container td:first-child {
    text-align: left;
}

.pairings-container td:last-child {
    text-align: right;
}

button {
    background-color: #929292;
    border: none;
    color: whitesmoke;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #060705;
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

td:first-child {
    text-align: left;
}

td:last-child {
    text-align: right;
}

.input-wrapper {
    margin-top: 20px;
}

.file-input-wrapper:hover {
    background-color: #9c9a9a;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input-wrapper input[type="text"] {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}